## Importing Data

In [30]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv("heart.csv")

In [3]:
df.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

## Spliting the data

In [5]:
X_train, X_test, y_train, y_test = train_test_split(df.iloc[:,:-1], df['target'], test_size=0.25, random_state=101)

In [6]:
X_train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
272,67,1,0,120,237,0,1,71,0,1.0,1,0,2
217,63,1,0,130,330,1,0,132,1,1.8,2,3,3
18,43,1,0,150,247,0,1,171,0,1.5,2,0,2
81,45,1,1,128,308,0,0,170,0,0.0,2,0,2
161,55,0,1,132,342,0,1,166,0,1.2,2,0,2

In [7]:
X_train.shape

(227, 13)

## Checking if dataset is balanced

In [8]:
y_train.mean()

0.5550660792951542

## Balancing the data

In [9]:
sm = SMOTE(random_state=101)
X_train, y_train = sm.fit_resample(X_train, y_train)

In [10]:
X_train.shape

(252, 13)

In [11]:
y_train.shape

(252,)

In [12]:
y_train.mean()

0.5

## Scaling the data

In [13]:
scaler = MinMaxScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [14]:
X_train_scaled[0]

array([0.79166667, 1.        , 0.        , 0.24528302, 0.25342466,
       0.        , 0.5       , 0.        , 0.        , 0.16129032,
       0.5       , 0.        , 0.66666667])

## Buildin some Models

In [43]:
dt = DecisionTreeClassifier(random_state=101)
dt = dt.fit(X_train_scaled, y_train)

print('CV score:', cross_val_score(dt, X_train_scaled, y_train, cv = 3).mean())
print('DT Train Score:', dt.score(X_train_scaled, y_train))
print('DT Test Score:', dt.score(X_test_scaled, y_test))

CV score: 0.75
DT Train Score: 1.0
DT Test Score: 0.8157894736842105

In [44]:
rf = RandomForestClassifier(n_estimators=100, oob_score=True, random_state=101)
rf.fit(X_train_scaled, y_train)

print('CV score:', cross_val_score(rf, X_train_scaled, y_train, cv = 3).mean())
print('oob score:', rf.oob_score_)
print('RF Train Score:', rf.score(X_train_scaled, y_train))
print('RF Test Score:', rf.score(X_test_scaled, y_test))

CV score: 0.8293650793650794
oob score: 0.8293650793650794
RF Train Score: 1.0
RF Test Score: 0.8289473684210527

In [45]:
knn = KNeighborsClassifier(n_neighbors=1, leaf_size=1000, p=1)
knn.fit(X_train_scaled, y_train)

print('CV score:', cross_val_score(knn, X_train_scaled, y_train, cv = 3).mean())
print('KNN Train Score:', knn.score(X_train_scaled, y_train))
print('KNN Test Score:', knn.score(X_test_scaled, y_test))

CV score: 0.7857142857142857
KNN Train Score: 1.0
KNN Test Score: 0.7763157894736842

In [46]:
lr = LogisticRegression(random_state=101, solver='lbfgs') #Solver added to disable warnings
lr.fit(X_train_scaled, y_train)

print('CV score:', cross_val_score(lr, X_train_scaled, y_train, cv = 3).mean())
print('LR Train Score:', lr.score(X_train_scaled, y_train))
print('LR Test Score:', lr.score(X_test_scaled, y_test))

CV score: 0.8174603174603176
LR Train Score: 0.8492063492063492
LR Test Score: 0.8421052631578947

In [47]:
svm = SVC(gamma='auto',random_state=101)
svm.fit(X_train_scaled, y_train)

print('CV score:', cross_val_score(svm, X_train_scaled, y_train, cv = 3).mean())
print('SVM Train Score:', svm.score(X_train_scaled, y_train))
print('SVM Test Score:', svm.score(X_test_scaled, y_test))

CV score: 0.7976190476190476
SVM Train Score: 0.8134920634920635
SVM Test Score: 0.8157894736842105

## Hyperparameters Tuning (Best Models: RF and LR)

## Evaluation Results

In [18]:
pred = rf.predict(X_test_scaled)
pred[:15]

array([0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1])

In [25]:
for n,number in enumerate(pred):
    print('Prediction:',number,' - Real:',y_test.iloc[n],end=' ')
    if number == y_test.iloc[n]:
        print('=> OK')
    else:
        print('=> ERROR')

Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 0 => ERROR
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 0 => ERROR
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 0  - Real: 1 => ERROR
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 0 => ERROR
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 0 => ERROR
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 0 => ERROR
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 0 => ERROR
Prediction: 0  - Real: 0 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 1 => ERROR
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 1 => ERROR
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 0 => ERROR
Prediction: 1  - Real: 1 => OK
Prediction: 1  - Real: 0 => ERROR
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK
Prediction: 1  - Real: 1 => OK
Prediction: 0  - Real: 0 => OK

In [26]:
print(classification_report(pred,y_test))

              precision    recall  f1-score   support

           0       0.78      0.91      0.84        32
           1       0.92      0.82      0.87        44

   micro avg       0.86      0.86      0.86        76
   macro avg       0.85      0.86      0.85        76
weighted avg       0.86      0.86      0.86        76